.header{
    -fx-background-color:orange;
}
.title{
    -fx-font-size:24px;
    -fx-font-weight:bold;
}
.btnClose{
    -fx-background-color:red;
    -fx-font-size:16px;
}
.btnMin{
    -fx-background-color:transparent;
    -fx-font-size:16px;
}
.btn:hover{
    -fx-text-fill:#fff;
    -fx-font-weight:bold;
}
.nav{
    -fx-background-color:#4295f5;
}
.btnNav{
    -fx-background-color:transparent;
    -fx-font-size:18px;
    -fx-alignment:center-left;
    -fx-cursor:hand;
}

.btnNav:hover{
    -fx-background-color:#3b81d1;
}

.ground{
    -fx-background-color:grey;
}
.developer{
    -fx-font-size:16px;
}
.btnMenu{
    -fx-background-color:#fff;
    -fx-cursor:hand;
}
.btnMenu:hover{
    -fx-background-color:#000;
}
.btnMenuLabel:hover{
    -fx-background-color:orange;
}
.btnMenuLabel{
    -fx-background-color:#000;
    -fx-shape:"M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z";
}
.btnNavSelected{
    -fx-background-color:#417aba;
    -fx-text-fill:#fff;
    -fx-font-weight:bold;
}
